/node_modules
/public/hot
/public/storage
/public/upload
/public/thumb
/storage/*.key
/crawler_js/log.txt
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
